* {
    /* include padding and border in total width/height calculations by default */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

/* GLOBAL VARIABLES */
:root {
    --cr-text-primary: rgb(2, 22, 7);
    --cr-text-contrast: rgb(255, 255, 255);
    --cr-bg-primary: rgb(245, 245, 245);
    --cr-bg-secondary: rgb(255, 255, 255);
    --cr-bg-contrast: rgb(212, 212, 212);
    --cr-accent: rgb(168, 54, 255);
    --cr-button: rgb(0, 0, 0);
    --cr-button-disabled: rgb(0, 0, 0, 0.5);
    --br-radius-small: 0.25rem;
    --cr-warning: rgb(255, 0, 0);
}

:root {
    color: var(--cr-text-primary);
    background-color: var(--cr-bg-primary);
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    min-width: 100px;
    user-select: none;
    background-color: var(--cr-button);
    color: var(--cr-text-contrast);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: all 0.20s ease-in-out;
}

button:hover {
    background-color: var(--cr-accent);
}

button:disabled {
    opacity: 0.5;
    background-color: var(--cr-button-disabled);
    cursor: not-allowed;
}

body {
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100lvh;
    width: 100%;
    font-family: var(--font-vietnam);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--cr-bg-secondary);
    width: 100%;
    height: 75px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav > h1 {
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--text-primary);
    user-select: none;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    user-select: none;
}

nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    height: 100%;
}

.nav-link:hover {
    background-color: var(--cr-accent);
    color: var(--cr-text-contrast);
    cursor: pointer;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--cr-text-primary);
    font-size: 1.25rem;
    padding: 0 1rem;
    transition: all 0.15s ease-in-out;
}

main.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

@media (width <= 1200px) {
    main.card-container {
        flex-direction: column-reverse;
    }
}

@media (width > 1200px) {
    main.card-container {
        flex-direction: row;
    }
}

main.card-container .card-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

main.card-container .card-panel--main {
    position: relative;
    min-width: 60vw;
}

@media (width > 1200px) {
    main.card-container .card-panel--main {
        position: sticky;
        top: 1rem;
        align-self: flex-start;
        overflow-y: visible;
    }
}

@media (width > 1450px) {
    main.card-container .card-panel--main {
        min-width: 65vw;
    }
}

main.card-container .card {
    position: relative;
    display: flex;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    background-color: var(--cr-bg-secondary);
    border-radius: var(--br-radius-small);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: visible;
}

.card > h1 {
    margin-bottom: 1rem;
}

article h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

details > summary {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

details[open] > summary {
    margin-bottom: 1rem;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.info-table th {
    background-color: var(--cr-bg-primary);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.info-table td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.card .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.card .buttons-center {
    gap: 0;
    justify-content: center;
}

.card .graph-buttons {
    padding-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-panel > .card.card-tabs {
    background-color: var(--cr-bg-primary);
    box-shadow: none;
    padding: 0;
}

.tab-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow: visible
}

.tab-list button {
    position: relative;
    top: 5px;
    color: var(--cr-text-primary);
    background-color: var(--cr-bg-primary);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-radius: var(--br-radius-small) var(--br-radius-small) 0 0;
    margin: 0;
    transition: top 0.20s ease-in-out;
}

.tab-list button.tab--active {
    top: 0;
    background-color: var(--cr-bg-secondary);
    /* this makes the transition less awkward compared to removing the border entirely */
    border: 1px solid transparent;
    z-index: 1;
}

.card > div.canvas {
    min-height: 600px;
}

.card-panel > .card-tabs > section.card {
    display: none;
    border-radius: 0 var(--br-radius-small) var(--br-radius-small) var(--br-radius-small);
}

.card-panel > .card-tabs > section.card.card--active {
    display: flex;
}

.tab-content {
    gap: 1rem;
}

#preset-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
}

#preset-container > .preset-entry {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#preset-container > .preset-entry:last-of-type {
    border-bottom: none;
}

#preset-container > .preset-entry--selected {
    background-color: var(--cr-accent);
    color: var(--cr-text-contrast);
    border-radius: var(--br-radius-small);
}

form {
    display: flex;
    flex-direction: column;
}

.card > p {
    margin-bottom: 1.0rem;
}

p.hidden {
    display: none;
}

#config-form-apply-msg {
    margin-top: 1rem;
    text-align: center;
    color: var(--cr-warning);
}

form > .input-group {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    min-height: 4rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

.input-group--disabled *:not(input[type="checkbox"]) {
    opacity: 0.5;
}

form > .input-group:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

form > .input-group output {
    display: inline-block;
}

.input-group-half {
    gap: 0.5rem;
    width: 50%;
}

.input-group-half.right-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.range-labels {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25rem;
    width: 6rem;
}

.annotated-input {
    display: flex;
    flex: 1;
    width: 50%;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}

.input-group-half.space-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group-half.space-align input[type="number"] {
    width: 100%;
}

select, input[type="number"], input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--br-radius-small);
    background-color: var(--cr-bg-primary);
    color: var(--cr-text-primary);
    font-size: 1rem;
    transition: all 0.20s ease-in-out;
}

select:focus, input[type="number"]:focus {
    background-color: var(--cr-bg-secondary);
}

input[type="number"] {
    width: 50%;
}

input[type="range"] {
    width: 100%;
}

input[type="checkbox"] {
    position: relative;
    overflow: hidden;
    appearance: none;
    height: 2rem;
    width: 3.5rem;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--cr-bg-contrast);
    transition: all ease-in-out 0.2s;
}

input[type="checkbox"]:checked {
    background-color: var(--cr-accent);
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    z-index: 2;
}

input[type="checkbox"]:checked::before {
    transform: translateX(1.5rem);
}

input[type="checkbox"]:disabled {
    background-color: #D1D1D6;
}

input[type="checkbox"]:disabled::before {
    background-color: #8E8E93;
}

input[type="range"] {
    accent-color: var(--cr-accent);
}

label {
    font-size: 1rem;
    font-weight: bold;
}

#control-form > .input-group:first-child {
    border-top: none;
}

#control-form select {
    width: 65%;
}

#control-form input[type="number"] {
    width: 30%;
}

article.genotype-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.25rem;
    background-color: var(--cr-bg-secondary);
    margin-bottom: 2rem;
}

.grid-hare {
    display: grid;
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.30);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transition: all 0.15s ease-in-out;
    z-index: 1;
}

.grid-hare > .tooltip {
    position: absolute;
    bottom: 0;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    background-color: var(--cr-bg-secondary);
    color: var(--cr-text-primary);
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: var(--br-radius-small);
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.grid-hare:hover {
    z-index: 2;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-hare:hover > .tooltip {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
}

.tooltip > .tooltip-content {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
}

.grid-hare > .hare-allele {
    transition: all 0.10s ease-in-out;
    grid-column: span 1;
    grid-row: span 1;
}

.grid-hare > .hare-whiteness {
    transition: all 0.2s ease-in-out;
    grid-row: span 2;
}

.grid-hare--mismatch {
    border: 3px solid var(--cr-warning);
    padding: 0.1rem;
}

.grid-hare--dead {
    opacity: 0.15;
}

.grid-hare--dead .tooltip > .grid-hare {
    opacity: 1;
}


.grid-hare--dead:hover {
    opacity: 1;
}

.grid-hare--large {
    width: 4rem;
    height: 4rem;
}

#weather-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.20s ease-in-out;
    font-weight: bold;
}

div.card-progress {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 0.5rem;
    background-color: transparent;
    border-bottom-left-radius: var(--br-radius-small);
    border-bottom-right-radius: var(--br-radius-small);
    overflow: hidden;
}

div.card-progress > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--cr-accent);
    transition: width 0.5s ease-out;
}
